@model JobOfferDetailsView
@{
    ViewData["Title"] = "Details";
    ViewBag.Title = "Offer";
}

<div class="row page-box">
    <h1>@Model.JobOffer.JobTitle</h1>
    <div class="col-sm-8">
        <div class="offer-description" id="previewMarkdown">
            @Model.JobOffer.JobDescription
        </div>
    </div>
    <div class="col-sm-4">
        <div class="offer-details">
            <div>
                <label>Company:</label>
                <span>@Model.JobOffer.Company.Name</span>
            </div>
            <div>
                <label>Location:</label>
                <span>@Model.JobOffer.Location</span>
            </div>
            @if (Model.JobOffer.SalaryFrom.HasValue)
            {
                <div>
                    <label>Salary from:</label>
                    <span>@Model.JobOffer.SalaryFrom (PLN)</span>
                </div>
            }
            @if (Model.JobOffer.SalaryTo.HasValue)
            {
                <div>
                    <label>Salary to:</label>
                    <span>@Model.JobOffer.SalaryTo (PLN)</span>
                </div>
            }
            <div>
                <label>Created:</label>
                <span>@Model.JobOffer.Created</span>
            </div>
            @if (Model.JobOffer.ValidUntil.HasValue)
            {
                <div>
                    <label>Valid:</label>
                    <span>@Model.JobOffer.ValidUntil.Value.Subtract(DateTime.Now).Days days (@Model.JobOffer.ValidUntil)</span>
                </div>
            }
            <div>
                @Html.ActionLink("Apply Now", "Apply", new { id = Model.JobOffer.ID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Edit", "Edit", new { id = Model.JobOffer.ID }, new { @class = "btn btn-primary" })
                @using (Html.BeginForm("Delete", "JobOffer", new { Model.JobOffer.ID }, FormMethod.Post, null, new { style = "display:inline;" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Delete</button>
                }
            </div>
        </div>
    </div>

</div>
<hr/>
<h2>Currently Applying</h2>
<div id="updatePanel">
</div>
@Html.ActionLink("Go back to list of offers", "Index", "JobOffer", null, new { @class = "btn btn-primary" })

@section Scripts{
    <script>
        $(document).ready(function () {
            var currentPage = 1;
            fetchData(1);
            $('#updatePanel').on('click', '.footerContent a', function (e) {
                e.preventDefault();
                var pageNo = parseInt($(this).html());
                currentPage = pageNo;
                fetchData(currentPage);
            });
            function fetchData(pageNo) {
                var $loading = "<div class='loading'>Please wait...</div>";
                $('#updatePanel').prepend($loading);
                $.ajax({
                    url: '/api/Applications',
                    type: 'GET',
                    data: {
                        offerID: @Model.JobOffer.ID,
                        pageNo: pageNo
                    },
                    dataType: 'json',
                    success: function (data) {
                        var $table = $('<table/>').addClass('table table-striped table-hover table-bordered');
                        var $header = $('<thead/>').html('<tr><th>Name</th><th>Email</th><th>Phone</th></tr>');
                        $table.append($header);
                        console.log(data)
                        $.each(data.jobApplications, function (i, emp) {
                            var $row = $('<tr/>');
                            $row.append($('<td><a href="/JobOffer/ApplicationDetails?ID=' + emp.id+'">'+emp.firstName + " "+ emp.lastName+'</a></td>'));
                            $row.append($('<td/>').html(emp.emailAddress));
                            $row.append($('<td/>').html(emp.phoneNumber));
                            $table.append($row);
                        });

                        var totalPage = parseInt(data.totalPage);
                        var $footer = $('<tr/>');
                        var $footerTD = $('<td/>').attr('colspan', 4).addClass('footerContent');

                        if (totalPage > 0) {
                            for (var i = 1; i <= totalPage; i++) {
                                var $page = $('<span/>').addClass((i == currentPage) ? "current" : "");
                                $page.html((i == currentPage) ? i : "<a href='#'>" + i + "</a>");
                                $footerTD.append($page);
                            }
                            $footer.append($footerTD);
                        }
                        $table.append($footer);

                        $('#updatePanel').html($table);
                    },
                    error: function () {
                        alert('Error! Please try again.');
                    },
                    remove: function () {}

                }).done(function () {

                    $loading.remove();
                });
            }
        });
    </script>
}

<link rel="stylesheet" type="text/css" href="~/css/applications.css">

